
<app-nav></app-nav>
<main role="main" class="container">

  <div class="starter-template">
    
    <!-- <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->

    <router-outlet></router-outlet>

  </div>

</main><!-- /.container -->
