<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
  <a class="navbar-brand" routerLink="#" (click)="noOpLink($event)">User Tracker</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      <a class="nav-link" style="cursor:pointer;" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" >Logout</a>
    </ul>
    
  </div>
  
</nav>
<!-- <p>nav works!</p> -->
