<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>

        <div class="card-body">
          
          <form class="form" (submit)="loginUser($event)">
            
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" class="form-control rounded-0" placeholder="john@doe.com" required [(ngModel)]="loginUserData.email" />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control rounded-0" placeholder="password" required [(ngModel)]="loginUserData.password"/>
            </div>

            <button type="submit" class="btn btn-success float-right">Login</button>

          </form>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- <p>login works!</p> -->
